<% type ||= nil %>
<% files_scope = (type == 'image') ? @site.files.images : @site.files %>

<div class='box file_uploads'>
  
  <%= form_for :file, :url => cms_admin_site_files_path(@site), :html => {:multipart => true} do |form| %>
    <a id='uploader_button' href='#' class='big button'><%= t('.button') %></a>
    <%= form.file_field :file, :multiple => true, :id => false %>
  <% end %>
  
  <div class='uploaded_files'>
    <%= render :partial => 'cms_admin/files/file', :collection => files_scope.order(:label) %>
  </div>
</div>
